mixin list(list)
  section.list
    p.list__header=list.header
    ul.list__items
      li.list__item
        a.list__link(href="#")=list.link1
      li.list__item
        a.list__link(href="#")=list.link2
      li.list__item
        a.list__link(href="#")=list.link3
      li.list__item
        a.list__link(href="#")=list.link4
      li.list__item
        a.list__link(href="#")=list.link5